//most links are in places where it's obvious that they're links without
//needing to "look like links", so links inlined in text need to explicitly
//opt in to styles that make them look like links.
a[href] {
    color: var(--shdx-text-color);
    text-decoration: none;
}

@mixin inline-link {
    color: #00B7FF;

    &:hover {
        text-decoration: underline;
    }
}

a[href].inline-link {
    @include inline-link();
}

.has-inline-links {
    a {
        @include inline-link();
    }
}