button, input[type=submit], .button {
    text-decoration: none;
    display: inline-block;
    border-radius: 0.2rem;
    background: none;
    border: none;
    color: var(--accent-blue);
    cursor: pointer;
    padding: 0.7rem;
    margin: 0.2rem;
    line-height: 1;
    font-weight: bold;
    font-size: 0.9rem;
    transition: color 0.15s, background 0.15s;
    //buttons don't inherit the body's font stack
    font-family: var(--en-fonts);

    &:hover:not(:disabled), &.hover {
        background: rgba(40, 40, 40, 0.4);
    }
    &[aria-pressed="true"] {
        color: white;
        background: rgba(255, 255, 255, 0.1);
        > * {
            filter: drop-shadow(0 0 0.5rem)
        }
    }
}

button.primary, .button.primary {
    color: var(--primary);

    &:hover:not(:disabled) {
        color: var(--primary-light);
    }
    &:disabled {
        color: var(--primary-dark);
    }
}
button:disabled {
    color: #2b394a;
    background: none;
    cursor: auto;
}

button.galaxy, .button.galaxy {
    background: var(--accent-gradient);
    color: white;

    &:hover:not(:disabled) {
        background: var(--accent-gradient-light);
    }
}

button.danger:not(:disabled) {
    background: var(--accent-red);
    color: black;
    &:hover {
        background: var(--accent-red-bright);
    }
}

button.small, .button.small {
    padding: 0.3rem;
}
