.header, header {
    h1, h2 {
        font-size: 1.8rem;
    }

    nav {
        height: 100%;

        ul, ol {
            display: flex;
            flex-direction: row;
            margin: 0;
            height: 100%;
        }

        a[href] {
            height: 100%;
            color: white;
            border: none;
            font-weight: bold;
            display: flex;
            align-items: center;
            padding: 0 1rem;
            border-bottom: 2px solid transparent;
            transition: background 0.1s, border-bottom-color 0.1s;

            &:hover {
                background: var(--panel-header-bg-light);
                text-decoration: none;
                border-color: var(--accent-purple);
            }
        }
    }
}

h1.header, h2.header {
    font-size: 1.8rem;
}
