.header, header {
    h1, h2 {
        font-size: 1.8rem;
    }

    nav {
        height: 100%;

        ul, ol {
            display: flex;
            flex-direction: row;
            margin: 0;
            height: 100%;
            padding: 0;
        }

        li {
            // this lets a 'width: 100%' on a contained div in a dropdown menu get the same width as the li
            position: relative;
        }

        a[href], .a {
            height: 100%;
            font-size: 1rem;
            color: white;
            border: none;
            font-weight: bold;
            display: flex;
            align-items: center;
            padding: 0 1rem;
            border-bottom: 2px solid transparent;
            transition: background 0.1s, border-bottom-color 0.1s;
            // when on mobile, don't let the buttons get awkwardly short
            min-height: 3rem;

            &:hover {
                background: var(--panel-header-bg-light);
                text-decoration: none;
                border-color: var(--accent-purple);
            }

            &[aria-pressed="true"] {
                border-bottom-color: transparent !important;
                background-color: var(--panel-header-bg-dark);
            }

            &.active {
                border-color: var(--accent-purple-bright);
            }
        }

        .dropdown-menu {
            a, .a {
                padding: 1rem !important;
            }
        }
    }
}

h1.header, h2.header {
    font-size: 1.8rem;
}
