textarea {
    font-size: 0.7rem;
}

input[type=text], input:not([type]), input[type=date], input[type=time], textarea, select {
    color: white;
    border: var(--shdx-input-border);
    transition: border 0.2s;
    border-radius: 0.2rem;
    background: var(--shdx-input-bg);
    padding: 0.2rem;
    font-family: var(--shdx-en-fonts);

    &:focus {
        background: rgba(11,15,21,0.8);
        border-color: var(--shdx-input-focus-color);
    }

    &:disabled {
        color: var(--shdx-muted);
    }
}
input[type=text], input:not([type]), input[type=date], input[type=time] select {
    font-size: 1rem;
}
textarea {
    font-size: 0.9rem;
}

.input-group {
    border-radius: 0.2rem;
    background: var(--shdx-input-bg);
    border: var(--shdx-input-border);
    display: flex;

    input {
        border-color: transparent;
    }
    button {
        margin: 0;
    }
}
