progress {
    -webkit-appearance: none;
    background: var(--shdx-bg);
    border: none;

    &::-webkit-progress-bar {
        background: var(--shdx-bg);
    }
    &::-moz-progress-bar {
        background: var(--shdx-accent-gradient);
    }
    &::-webkit-progress-value {
        background: var(--shdx-accent-gradient);
    }
}
