@import "node_modules/normalize.css/normalize";
@import "style/utility/variables";
@import "style/utility/flex";
@import "style/utility/text";

@import "style/elements/a";
@import "style/elements/button";
@import "style/elements/blockquote";
@import "style/elements/code";
@import "style/elements/footer";
@import "style/elements/header";
@import "style/elements/heading";
@import "style/elements/hr";
@import "style/elements/input";
@import "style/elements/label";
@import "style/elements/nav";
@import "style/elements/progress";
@import "style/elements/table";

@import "style/components/containers";
@import "style/components/dropdown-menu";
@import "style/components/modal";
@import "style/components/panel";
@import "style/components/tabs";

html {
    min-height: 100%;
    display: flex;
}

body, #app-root {
    font-size: 14px;
    line-height: 1.4;
    font-family: var(--en-fonts);
    background-color: var(--bg);
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    opacity: 1;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex: 1;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    scrollbar-color: #444 #121212;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
