$colors: 'gray', 'red', 'orange', 'yellow', 'green', 'mint', 'cyan', 'blue', 'purple', 'pink';

@each $color in $colors {
    .shdx-badge-#{$color} {
        background-color: var(--shdx-#{$color}-200);
        color: var(--shdx-#{$color}-800);
        border-radius: 3px;
    }
}