.dropdown-menu {
    box-shadow: 0 0 0.4rem black;
    background: var(--panel-header-bg);

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        li a, li .a {
            padding: 0.7rem;
            border: none;
            color: white;
            background: none;
            line-height: 1;
        }
        li:hover {
            background: var(--panel-header-bg-light);
        }
    }

    ul, li, a, .a {
        width: 100%;
    }
}
