.panel {
    background: var(--shdx-gray-600);
    padding: 0;
    margin: 0;

    .panel-body, &.panel-body {
        padding: 1rem;
    }

    &.bordered {
        border: var(--shdx-panel-border);
    }
}
.sub-panel {
    margin: 1rem 1rem 2rem;
    background: var(--shdx-sub-panel-bg);
    padding: 0.5rem;
    border-radius: 0.2rem;
}
