.f-row {
    display: flex;
    flex-direction: row;
}

.f-column {
    display: flex;
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}
.justify-content-start {
    justify-content: start;
}
.justify-content-end {
    justify-content: end;
}
.justify-content-between {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}
.align-items-start {
    align-items: start;
}
.align-items-end {
    align-items: end;
}

.f-wrap {
    flex-wrap: wrap;
}