.muted {
    color: var(--muted);
}

.fw-bold {
    font-weight: bold;
}

.fw-normal {
    font-weight: normal;
}

.text-align-center {
    text-align: center;
}
.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}
